/RUNNING_PID
/logs/
/project/*-shim.sbt
/project/project/
/project/target/
/target/
/deploy/
/tools/deploy/
/.ensime_cache/
*.ensime
/scala-2.11/
/flow-data/

.DS_Store
*.swp
*.swo
*.csv

buildinfo.properties
